body{
    margin: 0;
    padding: 0;
    background: url(../images/modern-gold-background-free-vector.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}
.login_box{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.login_box .avater{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
}
.login_box p{
    font-weight: bold;
}
.login_box input{
    width: 100%;
    margin-bottom: 10px;
}
.login_box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
    font-size: 16px;
}
.login_box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: RGB(255, 194, 0);
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
}
.login_box a{
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
    color: darkgray;
}
.login_box a:hover{
    color: white;
}
.login_button{
    padding: 10px 112px;
    border-radius: 20px;
    background-color: RGB(255, 194, 0);
}
#login_to_index a{
    color: #fff;
    font-size: 15px;
}