@media (max-width: 4000px) and (min-width:768px){
    body{
        overflow: auto !important;
    }
    #section_right_side{
        padding-right: 50px;
    }
    #navbar_position{
        position: fixed;
        width: 100%;
    }
    #main_page_height{
        padding-top: 64px;
    }
    .offcanvas_backdrop::before{
        display: none;
    }

    #offcanvasExample{
        transform: none; 
        visibility: visible;
    }
    #sidebar_brand{
        display: flex;
        border-bottom: 1px solid white;
        padding-bottom: 5px;
        margin-bottom: 15px;
    }
    #right-icon{
        transition: 0.5s all;
    }
    .sidebar-link[aria-expanded="true"] #right-icon{
        transform: rotate(180deg);
    }
    #sidebar_brand .brand{
        font-size: 20px;
        padding-left: 15px;
    }
    #sidebar_brand .brand_name{
        font-size: 20px;
        padding-left: 25px;
    }
    #section_right_side .wrapper{
        padding-top: 60px;    
    }
}
@media only screen and (max-width:1280px) and (min-width:1100px){
    .container-fluid .row .col-6 .wrapper{
        padding-left: 85px;
    }
}
@media only screen and (max-width:1099px) and (min-width:992px){
    .container-fluid .row .col-6 .wrapper{
        padding-left: 55px;
    }
}
@media only screen and (max-width:568px) and (min-width:200px){
    .container-fluid .row .col-6 .wrapper{
        padding-right: 0px;
        padding-top: 20px;
    }
}
@media only screen and (max-width:768px) and (min-width:425px){
    #section_right_side{
        padding-right: 40px;
    }
}