@import url("variables.css");
@import url("responsive.css");
@import url("nice-select.css");
/* Open Sans Font */
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* ###########################
    Helping Classes
############################## */
.bg-primary{
    background-color: var(--primary)!important;
    background: var(--primary)!important;
}
.bg-secondary{
    background-color: var(--secondary)!important;
    background: var(--secondary)!important;
}


/* ###########################
    End Helping Classes
############################## */


/* ###########################
    Preloader
############################## */

#preloader{
    background: black;
    background-image: url(../images/Preloader.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10;
}



/* ###########################
    Preloader Ends Here
############################## */






/* ###########################
    Navbar CSS
############################## */

#wrapper h1{
    font-weight: 600;
    color: white;
}



/* ###########################
    End Navbar CSS
############################## */
body{
    /* background-color: #8EC5FC; */
    background-color: var(--primary);
    /* background-color: white; */
    /* background-image: linear-gradient(45deg, RGB(20, 48, 82) 0%, RGB(41, 84, 131) 50%); */
    font-family: 'Open Sans', sans-serif;
}
body::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: RGB(195, 196, 252);
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: rgb(242, 243, 245);
}

::-webkit-scrollbar-thumb:hover {
    background: RGB(159, 196, 252);
}
#main_page_height{
    padding-left: var(--offcanvas-width);
}
.sidebar-link{
    display: flex;
    align-items: center;
    padding: 10px 1px 10px 1px;
    /* border: 1px solid #f96332; */
    border-radius: 50px;
    margin: 10px 5px;
    opacity: 0.6;
}
.sidebar-link.active{
    background: var(--white);
    opacity: 1;
    color: var(--primary)!important;
    font-weight: 500;
}
.sidebar-link:hover{
    background: var(--white-light);
    box-shadow: rgb(39 39 39 / 10%);
    opacity: 1;
}
.sidebar-link:hover i{
    color: var(--white);
}
#navbar_position{
    /* background-image: linear-gradient(45deg, RGB(20, 48, 82) 0%, RGB(41, 84, 131) 50%); */
    background: rgba(0, 0, 0, 0.30);

}

#section_right_side .wrapper{
    padding-top: 30px;    
}
.container-fluid .row .col-6 .wrapper{
    padding-right: 30px;
    padding-top: 30px;
}
#para_setting{
    text-align: justify;
}
#campuses_section .row .col-lg-6 .wrapper{
    border: 1px solid black;
}
#campuses_section .row .col-lg-6 .wrapper{
    border: 1px solid black;
}
    Scroll Bar fr Side Bar */
#scrollbar_side::-webkit-scrollbar {
    width: 10px;
    
}
#scrollbar_side::-webkit-scrollbar-track {
    background: RGB(108, 117, 125);
    margin-block-start: 30px;
    margin-block-end: 30px;
}

#scrollbar_side::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: RGB(108, 117, 125);
}

#scrollbar_side::-webkit-scrollbar-thumb:hover {
    background: RGB(159, 196, 252);
}
#scrollbar_side{
    /* background-color: #f96332; */
    background: var(--bg-gradient-to-bottom);
}
#navbar_person_icon{
    color: white;
}
#navbar_person_icon:hover{
    /* border: 1px solid RGB(93, 120, 150); */
    /* border-radius: 5px; */
    /* background-color: RGB(93, 120, 150); */
}
.brand_name{
    text-transform: uppercase;
    font-weight: bold;
    
}


.top-nav-search-icon{
    border-right: none;
    border-radius: 50px 0px 0px 50px;
    color: var(--white);
    background: transparent;
    font-size: 13px;
}
.top-nav-search-icon:focus{
    background: transparent;
    color: var(--white);
    box-shadow: none;
    outline: 0;
}
.top-nav-search-icon::placeholder{
    color: var(--white);
}
.top-nav-search-btn, .top-nav-search-btn:hover{
    border: 1px solid #CED4DA;
    border-left: none;
    border-radius: 0px 50px 50px 0px;
    color: var(--white);
    background: transparent;
}
.copy-right-text{
    padding: 20px 0px;
    font-weight: 500;
    color: var(--white);
}
.copy-right-text a{
    text-decoration: none;
    font-weight: 500;
    color: var(--primary);
}
.copy-right-text a:hover{
    color: var(--white);
}