@import url("variables.css");
@import url("responsive.css");
body{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
body::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: RGB(195, 196, 252);
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: rgb(242, 243, 245);
}

::-webkit-scrollbar-thumb:hover {
    background: RGB(159, 196, 252);
}
.sidebar-link{
    display: flex;
    align-items: center;
}
.sidebar-link .right-icon{
    display: inline-flex;
    transition: all ease 0.5s;
}
.sidebar-link[aria-expanded="true"] .right-icon{
    transform: rotate(180deg);
}
#section_right_side .wrapper{
    padding-top: 30px;    
}
.container-fluid .row .col-6 .wrapper{
    padding-right: 30px;
    padding-top: 30px;
}
#para_setting{
    text-align: justify;
}
#campuses_section .row .col-lg-6 .wrapper{
    border: 1px solid black;
}
#campuses_section .row .col-lg-6 .wrapper{
    border: 1px solid black;
}
#scrollbar_side::-webkit-scrollbar {
    width: 10px;
    
}

#scrollbar_side::-webkit-scrollbar-track {
    background: RGB(108, 117, 125);
    margin-block-start: 30px;
    margin-block-end: 30px;
}

#scrollbar_side::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: RGB(108, 117, 125);
}

#scrollbar_side::-webkit-scrollbar-thumb:hover {
    background: RGB(159, 196, 252);
}